name: Docs

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "-D warnings"

jobs:
  docs:
    name: cargo doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: docs
      - run: cargo doc --workspace --no-deps
